.hewade_ul {
    display: flex;
    list-style: none;
    padding: 16px 52px 16px 52px;
}

.ss1 {
    list-style: none;
    display: flex;
    gap: 40px;
    margin-left: 353px;
    position: relative;
    bottom: 5px;
}

.a1 {
    position: relative;
    bottom: 15px;
}

.ss2 {
    display: flex;
    list-style: none;
    margin-left: 305px;
    position: relative;
    bottom: 15px;
    gap: 20px;
}

.nije_lego img {
    width: 736px;
    height: 700px;
    object-fit: cover;
    position: relative;
    bottom: 35px;
}

.nije {
    display: flex;
}

.nije_pravo div {
    position: relative;
    left: 70px;
    top: 120px;
}

.nije_pravo div h2 {
    font-size: 54px;
}

.nije_pravo div h5 {
    font-size: 16px;
    position: relative;
    top: 30px;
}

.nije_pravo div p {
    color: rgb(84, 84, 84);
    font-size: 18px;
    position: relative;
    bottom: 32px;
}

.nije_pravo div h6 {
    font-size: 18px;
    position: relative;
    bottom: 30px;
}

.c1 {
    gap: 48px;
    display: flex;
    position: relative;
    left: 255px;
    top: 50px;
    width: 100.67415618896484px;
    height: 80px;
}

.fa {
    display: flex;
    position: relative;
    top: 190px;
    left: 50px;
    gap: 32px;
}

.g2 {
    position: relative;
    top: 2px;
}

.g1 {
    position: relative;
    top: 100px;
}

.card h3 {
    display: flex;
    justify-content: center;
}

.card p {
    display: flex;
    justify-content: center;
}